
* {
    margin:0;
    padding:0;
    font-size: 100%;
    line-height: 1.35em;
}
        
body{
    font-family: 'Libre Baskerville', serif;
    background-color: #fcf4dc; 
    color: #2A363B;
    }
        
h1{
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 20px; 
        text-align: center;
        }
        
        h2 {
        font-size: 28px;
        text-align: center;
        }
        
        h1, h2, h3 {
        font-weight: normal;
        margin: 10px 0 10px 0;
        }
        
        .intro {
        font-style: italic;
        font-size: 18px;
        text-align: center;
        padding: 10px;
        }
        
        .subtitle {
        font-style: italic;
        }
        
        a {
        color: #A30006;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        }
        
        a:hover {
        text-decoration: underline;
        color: navy;
        }
        
        nav ul {
        text-align: center;
        list-style-type: none;
        padding: 10px;
        }
        
        nav ul li {
        display: inline;
        margin: 10px;
        }
        
        nav {
        border-top: 1px solid #A30006;
        border-bottom: 1px solid #A30006;
        }
        
        img {
        display: block;
        margin: 0 auto;
        padding: 30px;
        max-width: 100%; /* max-width lets you size the image to fit into the parent container */
        }

        p{
        padding: 10px;
        }
        
        blockquote {
        border: double;
        padding: 10px;
        margin: 30px;
        }

        small {
        font-size: 10px;
        color: grey;
        line-height: 10px;
        }

/*layout*/

        article {
        min-width: 300px;
        max-width: 760px;
        margin: auto;
        }